
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.layout {
  display: flex;
  min-height: 100vh;
  position: relative;
}

/* ======================
   SIDEBAR
====================== */

.sidebar {
  width: 296px;
  min-width: 296px;
  height: 100vh;

  background-color: #7a7a7a;
  padding: 24px;

  transition: transform 0.3s ease;
}
.sidebar-nav {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 24px;
}

.sidebar-nav a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.sidebar-nav a:hover {
  opacity: 0.8;
}

/* ======================
   MAIN AREA
====================== */

.main-area {
  flex: 1;
  min-height: 100vh;

  background-color: #e7e3e3;
}

.topbar {
  height: 60px;

  display: flex;
  align-items: center;

  padding: 0 16px;
}

.content {
  padding: 24px;
}

/* ======================
   BUTTON
====================== */

.menu-btn {
  
  display: block;

  border: none;
  background: transparent;

  font-size: 28px;
  cursor: pointer;
}

/* ======================
   OVERLAY
====================== */

.overlay {
  position: fixed;
  inset: 0;

  background-color: rgba(0, 0, 0, 0.4);

  z-index: 5;
}

/* ======================
   RESPONSIVE
====================== */

@media (max-width: 1024px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;

    z-index: 10;

    transform: translateX(-100%);
  }

  .sidebar.open {
    transform: translateX(0);
  }

  .main-area {
    width: 100%;
  }

  .menu-btn {
    display: block;
  }
}